main-layout {
  grid-area: main-layout;
  padding: 1rem 0 10rem 3rem;
  display: grid;
  grid-template-rows: repeat( auto-fit, max-content );
  background-color: #1F1F1F;
}

.header {
  font-size: 3rem;
  margin: 0;
}
.login-button {
  color: whitesmoke;
  margin-right: 2rem;
  width: 5rem;
  background-color: #007FF4;
  justify-content: center;
  justify-self: flex-end;
}
.login-button:hover {
  color: whitesmoke;
  background-color: #3FA3FF;
}
.login-button:active {
  background-color: #47A7FF;
}

row-break {
  height: 1px;
  width: 80vw;
  background-color: #555;
  margin: 2rem 0 0.5rem 0;
}

album-row-container,
playlist-row-container {
  display: grid;
  /* width: 80vw; */
}
album-row {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  overflow-x: scroll;
}
album-row::-webkit-scrollbar {
  display: none;
}
album-container {
  display: grid;
}

.row-label {
  margin: 0 0 1rem 0;
  color: #E0E0E0;
  font-size: 1.2rem;
}

album-container:hover {
  cursor: pointer;
}
album-container:hover > .cover {
  filter: brightness(0.8);
}
album-container:hover > play-button {
  opacity: 1;
}

.cover {
  grid-area: 1/1;
  width: 13rem;
  height: 13rem;
  object-fit: cover;
  border-radius: 0.3rem;
  transition: filter 0.1s ease-in;
}
play-button {
  grid-area: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  align-self: flex-end;
  margin: 0 0 1rem 1rem;
  background-color: rgba(255,255,255,0.3);
  backdrop-filter: blur(0.3rem);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5rem;
  opacity: 0;
  transition: opacity 0.1s ease-in;
  z-index: 1;
}
play-button:hover {
  background-color: #007FF4;
}
.play-icon {
  width: 1.5rem;
  height: auto;
  margin-left: 0.2rem;
  pointer-events: none;
}

#player {
  display: none;
}
