{% include "auth/components/head.html" %}

<body>
  {% include "console/components/navbar.html" %}
  {% include "util/flash.html" ignore missing %}

  <div class="container-fluid">
    <div class="row row-cols-3">
      <div class="col-sm-3 charts">
        {% for item in chart %}
        <span class="row"><a href="{{api}}?chart={{item}}">{{item}}</a></span>
        {% endfor %}
      </div>

      <div class="col-sm-6 selection">
        <h3>Todays {{ selectionTitle }} 🤙</h3>
        {% for item in selection %}
        <div class="row">
          <span class="col-sm-1">{{ item.rank }}</span>
          <span class="col-sm-4">{{ item.title }}</span>
          <span class="col-sm-6">{{ item.artist }}</span>
        </div>
        {% endfor %}
      </div>

      <div class="col">
      </div>
    </div>
  </div>

  <style>
    body {
      margin: 0em;
      background-color: black;
      color: orange;
      width: 100vw;
      min-width: 550px;
    }

    .charts,
    .selection {
      height: 88vh;
      overflow: auto;
      margin-top: 2em;
    }

    .charts::-webkit-scrollbar,
    .selection::-webkit-scrollbar {
      display: none;
    }
  </style>
</body>

</html>