{% include "auth/components/head.html" %}

<body>
  {% include "console/components/navbar.html" %}
  {% include "util/flash.html" ignore missing %}

  <div class="container">
    <form class="add-artist" action={{ addArtistRoute }} method="POST">
      {{ add_artist_form.csrf_token }}
      <div class="form-row">
        <div class="form-group col-sm-5">
          {{ add_artist_form.first_name.label }} {{ add_artist_form.first_name(class_='form-control') }}
        </div>
        <div class="form-group col-sm-5">
          {{ add_artist_form.last_name.label }} {{ add_artist_form.last_name(class_='form-control') }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-8">
          {{ add_artist_form.display_pic.label }} {{ add_artist_form.display_pic(class_='form-control') }}
        </div>
        <div class="form-group col-sm-2">
          {{ add_artist_form.rating.label }} {{ add_artist_form.rating(class_='form-control custom-select') }}
        </div>
      </div>
      <div class="form-group float-right">
        <input type="submit" value="Submit" class="btn btn-outline-danger">
      </div>
    </form>
  </div>

  <div class="col-sm-6 selection">
    <h3>Artists 👩‍🎤</h3>

    <div class="list-group">
      {% for artist in artists %}
      <div class="list-group-item-dark rounded-lg">
        <span class="col-sm-1 id">{{ artist.id }}</span>
        <span class="col-sm-2"><img src={{ artist.display_pic }} class="rounded-circle"></span>
        <span class="col-sm-3">{{ "⭐️" * artist.rating }}</span>
        <span class="col-sm-3">{{ artist.first_name }}</span>
        <span class="col-sm-3">{{ artist.last_name }}</span>
        <input type="submit" value="Delete" class="btn btn-outline-danger delete">
      </div>
      {% endfor %}
    </div>
  </div>


  <style>
    body {
      margin: 0em;
      background-color: black;
      color: orange;
      width: 100vw;
      min-width: 550px;
    }
  </style>

  <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      event.preventDefault()

      const deleteButtons = document.querySelectorAll(".delete")
      deleteButtons.forEach((button) => {
        button.addEventListener("click", (event) => {
          const id = (button.parentElement.querySelector(".id").textContent)

          fetch("{{ deleteArtistRoute }}", {
            method: "DELETE",
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
              'Content-Type': 'application/json'
            }, body: JSON.stringify({ id })
          })
          .then(() => location.reload())
          .catch(err => console.log(err));
        })
      })
    })
  </script>
</body>

</html>