<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand">Welcome {{name}}</span>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-5 mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/secure/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/secure/library">Library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Playlist</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action={{ route }} method="POST">
      {{ search_form.csrf_token }}
      {{ search_form.query(class_="form-control mr-sm-2", placeholder="Search") }}
      <input type="submit" value="Search" class="btn btn-outline-dark my-2 my-sm-0">
    </form>
    <a href="/auth/logout" class="btn btn-outline-danger ml-2 my-2 my-sm-0">Logout</a>
  </div>
</nav>