<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href='{{ url_for('static', filename='css/artists-styles.css') }}'>
  <title>Artist</title>
</head>

<body>
  <!-- {% include 'components/side-bar.html' %} -->
  <header>
    <div class="sidebar">
      <h3> {{ appName }}</h3>
      <br>
      <div class="search">
        <input type="text" class="searchTerm" placeholder="Search">
      </div>
      <br>

      <nav-buttons>

        <a class='button nav-button d-flex flex-column'>
          <svg class='icon' width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <rect width='30' height='30' rx='8' fill='url(#paint0_linear)' />
            <path d='M11 21V8L23 6V19' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' />
            <path
              d='M8 24C9.65685 24 11 22.6569 11 21C11 19.3431 9.65685 18 8 18C6.34315 18 5 19.3431 5 21C5 22.6569 6.34315 24 8 24Z'
              stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' />
            <path
              d='M20 22C21.6569 22 23 20.6569 23 19C23 17.3431 21.6569 16 20 16C18.3431 16 17 17.3431 17 19C17 20.6569 18.3431 22 20 22Z'
              stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' />
            <defs>
              <linearGradient id='paint0_linear' x1='15' y1='0' x2='15' y2='30' gradientUnits='userSpaceOnUse'>
                <stop stop-color='#EB0038' />
                <stop offset='1' stop-color='#D70074' />
              </linearGradient>
            </defs>
          </svg>
          <span>Home</span>
          <br>
        </a>
        <a class='button nav-button'>
          <svg class='icon' width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <rect width='30' height='30' rx='8' fill='url(#paint0_linear)' />
            <path d='M13 6H6V13H13V6Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' />
            <path d='M24 6H17V13H24V6Z' stroke='white' stroke-width='2' stroke-linecap='round'
              stroke-linejoin='round' />
            <path d='M24 17H17V24H24V17Z' stroke='white' stroke-width='2' stroke-linecap='round'
              stroke-linejoin='round' />
            <path d='M13 17H6V24H13V17Z' stroke='white' stroke-width='2' stroke-linecap='round'
              stroke-linejoin='round' />
            <defs>
              <linearGradient id='paint0_linear' x1='15' y1='0' x2='15' y2='30' gradientUnits='userSpaceOnUse'>
                <stop stop-color='#EB0038' />
                <stop offset='1' stop-color='#D70074' />
              </linearGradient>
            </defs>
          </svg>
          <span>Library</span>
          <br>
        </a>
      </nav-buttons>
      <hr />
    </div>
  </header>


  <section class="main-content">
    <div class="top-button d-flex flex-row-reverse">
      <button type="button" class='btn btn-primary'>Sign In</button>
    </div>
    <div class="mainImage d-flex justify-content-center">
      <img id="mainImage" class="profileImage" src={{ profileImage }} alt={{ alt }}>
    </div>
    <br>
    <h2>{{ artistName }}</h2>
    <br>

    <article>
      <h3>Albums</h3>
      <div class="albums-list d-flex justify-content-start">
        <div class="albums">
          <figure>
            <a href={{album_page}}>
              <img class="albumArt " src={{ albumArt }} alt={{ alt }}>
            </a>
            <p>{{ title }}</p>
          </figure>
        </div>

        <!-- {% for item in albumsList %}
                <div>
                <img src={{ item.art }} alt={{ alt }}>
                
                </div>
                {% else %}
                <br>
                {% endfor %} -->

      </div>
    </article>

    <br>

    <hr />

    <article>
      <h3>Playlists</h3>
      <div class="albums-list d-flex justify-content-start">
        <div class="albums">
          <figure>
            <a href={{playlist_page}}>
              <img class="albumArt " src={{ playlistArt }} alt={{ alt }}>
            </a>
            <p>{{ playlistTitle }}</p>

        </div>
        </figure>


        <div class="albums">
          <figure>
            <a href={{playlist_page}}>
              <img class="albumArt" src={{ playlistArt }} alt={{ alt }}>
            </a>
            <p>{{ playlistTitle }}</p>
        </div>
        </figure>
        <!-- {% for item in albumsList %}
                <div>
                <img src={{ item.art }} alt={{ alt }}>
                
                </div>
                {% else %}
                <br>
                {% endfor %} -->

        <div class="albums-list d-flex justify-content-start">
          <div class="albums">
            <figure>
              <a href={{playlist_page}}>
                <img class="albumArt " src={{ playlistArt }} alt={{ alt }}>
              </a>
              <p>{{ playlistTitle }}</p>

          </div>
          </figure>
        </div>


    </article>

    <br>

    <hr />

    <article>
      <h3>Similar Artists</h3>
      <div class="artists-list d-flex justify-content-start">
        {% for artist in artists: %}
        <div class="artist">
          <a href={{artist_page}}>
            <img class="profileImage" src={{ artist.album_art }} alt={{ alt }}>
          </a>
          <p>{{ artist.first_name + " " + artist.last_name }}</p>
        </div>
        {% endfor %}
      </div>
    </article>

    <article>
      <h3>About {{artistName}}</h3>
      <p class="d-flex justify-content-start">Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the</p>
    </article>

    <footer class="footer d-flex justify-content-around">
      <p>FSWD 2020 Chris, Don, Jaime</p>
      <p>British Columbia</p>
    </footer>

  </section>

</body>

</html>