{% include "auth/components/head.html" %}

<body>
  <h1>Welcome</h1>

  {% include "util/flash.html" ignore missing %}
  <div>
    <a href="/auth/login" class="btn btn-outline-light">Login</a>
    <a href="/auth/sign-up" class="btn btn-outline-light">Sign-up</a>
  </div>

  <style>
    body {
      background-image: url("/static/images/index.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: black;
    }
  </style>
  {% include "auth/components/style.html" %}
</body>

</html>