<link href='{{ url_for('static', filename='components/library-layout.css') }}' rel='stylesheet' />

<main-layout>
  <a class='button login-button'>Sign In</a>
  <h1 class='header'>Your Library</h1>
  <row-break></row-break>
  <album-row-container>
    <h2 class='row-label'>Songs</h2>
    <song-row>
      <song-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://i.pinimg.com/originals/26/eb/e9/26ebe9788b358c734a2851048d05b12c.jpg' />
        <song-meta>
          <song-title>Lana Song</song-title>
          <song-artist>Colours</song-artist>
        </song-meta>
      </song-container>
      <song-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://www.digitalartsonline.co.uk/cmsdata/slideshow/3667052/vinyl-gorillaz---humanz.jpg' />
        <song-meta>
          <song-title>Gorilla Song</song-title>
          <song-artist>Colours</song-artist>
        </song-meta>
      </song-container>
      <song-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://img.discogs.com/la3XpcApe4iI_byacwGr4p0fn68=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-14411523-1573993613-4770.jpeg.jpg' />
        <song-meta>
          <song-title>Watermelon Song</song-title>
          <song-artist>Colours</song-artist>
        </song-meta>
      </song-container>
      <song-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://img.discogs.com/YjxtscgmFOYBtH4O2UHI7zhQ8t0=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-5180946-1386717091-6829.jpeg.jpg' />
        <song-meta>
          <song-title>Glover Song</song-title>
          <song-artist>Colours</song-artist>
        </song-meta>
      </song-container>
      <song-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://cdn8.openculture.com/2018/02/26214611/Arlo-safe-e1519715317729.jpg' />
        <song-meta>
          <song-title>Green Song</song-title>
          <song-artist>Colours</song-artist>
        </song-meta>
      </song-container>
      <song-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is2-ssl.mzstatic.com/image/thumb/Music113/v4/26/c3/93/26c3937b-f431-c7fb-239f-02cc4e3590db/20UMGIM19720.rgb.jpg/220x220bb.jpeg' />
        <song-meta>
          <song-title>Waveform Song</song-title>
          <song-artist>Colours</song-artist>
        </song-meta>
      </song-container>
      <song-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is5-ssl.mzstatic.com/image/thumb/Music118/v4/55/c4/7d/55c47dec-56b9-4f9b-fab4-0f7f394a10a8/00602577199219.rgb.jpg/243x243bb.jpg' />
        <song-meta>
          <song-title>Imagine Song</song-title>
          <song-artist>Colours</song-artist>
        </song-meta>
      </song-container>
      <song-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is4-ssl.mzstatic.com/image/thumb/Music118/v4/76/56/8e/76568e0a-ca3f-3be7-c4dd-10264f25ef18/00602567973409.rgb.jpg/270x270bb.jpg' />
        <song-meta>
          <song-title>Happy Song</song-title>
          <song-artist>Colours</song-artist>
        </song-meta>
      </song-container>
      <song-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is5-ssl.mzstatic.com/image/thumb/Music118/v4/55/c4/7d/55c47dec-56b9-4f9b-fab4-0f7f394a10a8/00602577199219.rgb.jpg/243x243bb.jpg' />
        <song-meta>
          <song-title>Green Song</song-title>
          <song-artist>Colours</song-artist>
        </song-meta>
      </song-container>
      <song-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is5-ssl.mzstatic.com/image/thumb/Music118/v4/55/c4/7d/55c47dec-56b9-4f9b-fab4-0f7f394a10a8/00602577199219.rgb.jpg/243x243bb.jpg' />
        <song-meta>
          <song-title>Green Song</song-title>
          <song-artist>Colours</song-artist>
        </song-meta>
      </song-container>
      <song-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is5-ssl.mzstatic.com/image/thumb/Music118/v4/55/c4/7d/55c47dec-56b9-4f9b-fab4-0f7f394a10a8/00602577199219.rgb.jpg/243x243bb.jpg' />
        <song-meta>
          <song-title>Green Song</song-title>
          <song-artist>Colours</song-artist>
        </song-meta>
      </song-container>
    </song-row>
  </album-row-container>
  <row-break></row-break>
  <album-row-container>
    <h2 class='row-label'>Artists</h2>
    <album-row>
      <artist-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='artist-cover'
          src='https://i.scdn.co/image/b1dfbe843b0b9f54ab2e588f33e7637d2dab065a' />
      </artist-container>
      <artist-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='artist-cover'
          src='https://i.scdn.co/image/0c9057cb30520f9f883a220051260fc66a2f3ffa' />
      </artist-container>
      <artist-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='artist-cover'
          src='https://i.scdn.co/image/f55cab0739390cf3b2c2f773b9c779b2f0ae8a99' />
      </artist-container>
      <artist-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='artist-cover'
          src='https://i.scdn.co/image/62b33d12e2b9a033cf77585f6e3d4b2c6b3a63a1' />
      </artist-container>
      <artist-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='artist-cover'
          src='https://i.scdn.co/image/7400192eccc75d72a35f77f1df503ef6e937c066' />
      </artist-container>
      <artist-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='artist-cover'
          src='https://i.scdn.co/image/55db20d7c49bdcf52162474265c66ca601054b1c' />
      </artist-container>
      <artist-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='artist-cover'
          src='https://upload.wikimedia.org/wikipedia/en/a/ad/X_cover.png' />
      </artist-container>
      <artist-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='artist-cover'
          src='https://upload.wikimedia.org/wikipedia/en/a/ad/X_cover.png' />
      </artist-container>
    </album-row>
  </album-row-container>
  <row-break></row-break>
  <playlist-row-container>
    <h2 class='row-label'>Playlists</h2>
    <album-row>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is3-ssl.mzstatic.com/image/thumb/Features113/v4/64/f9/af/64f9af50-95ac-2ca4-e83c-63c2de3c5b6e/source/211x211cc.jpeg' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is5-ssl.mzstatic.com/image/thumb/Music113/v4/45/74/fd/4574fdb3-2fcf-7f36-fa9c-c7321b55c1b6/190295286118.jpg/190x190bb.jpeg' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is3-ssl.mzstatic.com/image/thumb/Features113/v4/36/54/b0/3654b0d4-5242-614b-8af3-0a0c57c2ccd6/source/257x257cc.jpeg' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is3-ssl.mzstatic.com/image/thumb/Features114/v4/5b/48/e7/5b48e737-4443-24d5-a685-bfbb98cf9170/source/456x456cc.jpeg' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is3-ssl.mzstatic.com/image/thumb/Features123/v4/1f/f4/be/1ff4beff-7012-d734-4625-967c433213b4/source/340x340cc.jpeg' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is2-ssl.mzstatic.com/image/thumb/Features123/v4/43/a3/f7/43a3f771-1287-8903-4084-aa11899b31c2/source/340x340cc.jpeg' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover' src='https://upload.wikimedia.org/wikipedia/en/a/ad/X_cover.png' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover' src='https://upload.wikimedia.org/wikipedia/en/a/ad/X_cover.png' />
      </album-container>
    </album-row>
  </playlist-row-container>
  <row-break></row-break>
  <playlist-row-container>
    <h2 class='row-label'>Rewind</h2>
    <album-row>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is5-ssl.mzstatic.com/image/thumb/Features128/v4/af/00/27/af00278c-3e4b-85ae-b7bb-2432b7d48cd7/source/211x211cc.jpeg' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is4-ssl.mzstatic.com/image/thumb/Features128/v4/1b/d9/b8/1bd9b8b4-4e67-73d5-98ec-2229efded960/source/211x211cc.jpeg' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is1-ssl.mzstatic.com/image/thumb/Features118/v4/0e/92/1a/0e921a5d-1154-ddcc-5f84-448ca8439607/source/211x211cc.jpeg' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is3-ssl.mzstatic.com/image/thumb/Features118/v4/1b/a1/6a/1ba16a04-604c-c29a-062e-e217a669dc46/source/176x176cc.jpeg' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is2-ssl.mzstatic.com/image/thumb/Features128/v4/96/58/30/96583032-0093-639c-f350-4e71e6979c1b/source/176x176cc.jpeg' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is2-ssl.mzstatic.com/image/thumb/Features118/v4/75/3b/45/753b4522-62cd-c79d-057f-7cb0586913b1/source/176x176cc.jpeg' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover' src='https://upload.wikimedia.org/wikipedia/en/a/ad/X_cover.png' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover' src='https://upload.wikimedia.org/wikipedia/en/a/ad/X_cover.png' />
      </album-container>
    </album-row>
  </playlist-row-container>
  <row-break></row-break>
  <playlist-row-container>
    <h2 class='row-label'>Recently Played</h2>
    <album-row>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://i.guim.co.uk/img/media/d5ced47a0e9394c244639f25347984c5d6328379/0_0_2362_1687/master/2362.jpg?width=700&quality=85&auto=format&fit=max&s=99c06fb11f11c5f17de8bfe5819af464' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is5-ssl.mzstatic.com/image/thumb/Features113/v4/c2/72/8d/c2728d5e-c8d2-dcd5-6312-aaae4a615608/source/176x176cc.jpeg' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is3-ssl.mzstatic.com/image/thumb/Features113/v4/3b/fe/af/3bfeaf42-3949-34ac-69d2-d186b91f339f/source/176x176cc.jpeg' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is2-ssl.mzstatic.com/image/thumb/Features123/v4/ae/76/0b/ae760b4a-3d9f-7e51-d7c8-99e869368c92/source/257x257cc.jpeg' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is3-ssl.mzstatic.com/image/thumb/Features128/v4/d4/57/e5/d457e55f-ec5f-ccdb-fbb4-60006dd28c99/source/211x211cc.jpeg' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover'
          src='https://is5-ssl.mzstatic.com/image/thumb/Music123/v4/ca/e0/4d/cae04d81-9d0b-76da-19e9-51a7cd62a433/20UMGIM06559.rgb.jpg/190x190bb.jpeg' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover' src='https://upload.wikimedia.org/wikipedia/en/a/ad/X_cover.png' />
      </album-container>
      <album-container>
        <play-button><svg class='play-icon' viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
            stroke-width="2" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="5 3 19 12 5 21 5 3"></polygon>
          </svg></play-button><img class='cover' src='https://upload.wikimedia.org/wikipedia/en/a/ad/X_cover.png' />
      </album-container>
    </album-row>
  </playlist-row-container>
  <row-break></row-break>
</main-layout>