<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  Sign-up

  {% include "auth/util/flash.html" ignore missing %}

  <form class="sign-in" action="{{ url_for('sign_up') }}" method="POST">
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username }}
    {{ form.password_1.label }} {{ form.password_1 }}
    {{ form.password_2.label }} {{ form.password_2 }}
    <input type="submit" value="Sign-in">
  </form>
</body>

</html>